.reply-message{
    --card-width:100%;
    --card-height:auto;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

.reply-message-content{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: hidden;
    word-wrap: break-word;
}

.reply-message-timestamp {
    font-size: 0.8em;
    color: #5b5a5a;
}

